## General Relay Settings
RELAY_URL="..."
RELAY_PORT=2121
RELAY_BIND_ADDRESS="0.0.0.0" # Can be set to a specific IP4 or IP6 address ("" for all interfaces)
DB_ENGINE="lmbd" # badger, lmdb
LMDB_MAPSIZE=0 # 0 for default (currently ~273GB), or set to a different size in bytes, e.g. 10737418240 for 10GB
RELAY_NAME="Mattress"
RELAY_NPUB="..."
RELAY_DESCRIPTION="A Nostr relay for Cashu tokens"
RELAY_ICON="..."

## Relay Rate Limiters
RELAY_EVENT_IP_LIMITER_TOKENS_PER_INTERVAL=50
RELAY_EVENT_IP_LIMITER_INTERVAL=1
RELAY_EVENT_IP_LIMITER_MAX_TOKENS=100
RELAY_ALLOW_EMPTY_FILTERS=true
RELAY_ALLOW_COMPLEX_FILTERS=true
RELAY_CONNECTION_RATE_LIMITER_TOKENS_PER_INTERVAL=3
RELAY_CONNECTION_RATE_LIMITER_INTERVAL=5
RELAY_CONNECTION_RATE_LIMITER_MAX_TOKENS=9

# File with whitelisted npubs
USER_NPUBS_FILE="user_npubs.json"
